#dropdownmain:hover #dropdown  {
    display: block;
}
#dropdown  {
    display: none;
    top: -1px;
    left: -50px;
    position: relative;
    background-color: #3ba3dd;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
    height: auto;
}
#dropdown  a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    text-align: center;
}
/*#dropdown a:hover{color: white;}*/